body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h6{
    padding: 15px;
}

h2{
    padding: 20px;
}


section.board {
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 5px;
}

.square {
    border: 3px solid black;
    font-size: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x{
    border-color: red;
    background-color:aliceblue;
    color: red;
}

.o{
    border-color: dodgerblue;
    background-color: aliceblue;
    color: dodgerblue;
}

#reset{
    margin-top: 5%
}

#ruleBtn{
    margin-bottom: 5px;
}


