body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.board {
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 5px;
}

div {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}

button{
    border-radius: 10%;
    margin: 75px;
}

.x{
    border-color: red;
    background-color:aliceblue;
    color: red;
}

.o{
    border-color: dodgerblue;
    background-color: aliceblue;
    color: dodgerblue;
}